utils/contratos/pruebas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/my-service"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/my-service"
             name="MyService">

  <types>
    <xsd:schema targetNamespace="http://example.com/my-service">
      <xsd:element name="MyFunctionRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MyFunctionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="MyFunctionRequestMessage">
    <part name="parameters" element="tns:MyFunctionRequest"/>
  </message>
  <message name="MyFunctionResponseMessage">
    <part name="parameters" element="tns:MyFunctionResponse"/>
  </message>

  <portType name="MyPortType">
    <operation name="MyFunction">
      <input message="tns:MyFunctionRequestMessage"/>
      <output message="tns:MyFunctionResponseMessage"/>
    </operation>
  </portType>

  <binding name="MyBinding" type="tns:MyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="MyFunction">
      <soap:operation soapAction="http://example.com/my-service/MyFunction"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="MyService">
    <port name="MyPort" binding="tns:MyBinding">
      <soap:address location="http://localhost:3000/wsdl"/>
    </port>
  </service>
</definitions>
